:root {
    --clr-gray-1: hsl(0, 0%, 55%);
    --clr-gray-2: hsl(0, 0%, 41%);
}
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Alata", sans-serif;
    font-family: "Josefin Sans", sans-serif;
}
ul {
    list-style-type: none;
}
a {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
a::after {
    content: "";
    display: inline-block;
    height: 2px;
    width: 24px;
    position: absolute;
    bottom: -8px;
    left: 50%;
    transform: translateX(-50%) scaleX(0);
    background-color: #fff;
    transition: 0.2s all;
    transform-origin: center;
}
a:hover::after {
    transform: translateX(-50%) scaleX(1);
}
.container {
    width: 1140px;
    max-width: 90%;
    margin: 0 auto;
}

.mobile {
    display: none;
}

@media only screen and (max-width: 600px) {
    .mobile {
        display: block;
    }
    .desktop {
        display: none;
    }
}
